h1{
	text-align: center;
}
table{
	margin: auto;
}
td{
	width: 200px;
	height: 200px;
}
.vert{
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.hor{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
