body {
    background-color: #232323;
    margin: 0;
    font-family: "Arial", "Avenir";
}
.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
    transition: background 1.5s;
    -webkit-transition : background 1.5s;
    -moz-transition : background 1.5s;
    
}
#container {
    max-width: 600px;
    margin: 20px auto;
}
h1{
    color: white;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    background-color: steelblue;
    margin: 0;
    line-height: 1.1;
    padding-top: 20px;
    padding-bottom: 20px;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}
.selected{
    color:white;
    background: steelblue;
}
#colorDisplay {
    font-size: 200%;
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    outline: none;
}
#message {
    display : inline-block;
    width: 20%;
}

button:hover {
    color:white;
    background: steelblue;
}